server:
  port: 5000

spring:
  application:
    name: GATEWAY-SERVICE

cloud:
  gateway:
    mvc:
      routes:
        - id: USER-SERVICE
          uri:
           lb://USER-SERVICE
          predicates:
            - Path=/auth/**,/user/**,/

        - id: TASK-SERVICE
          uri:
            lb://TASK-SERVICE
          predicates:
            - Path=/api/tasks/**,/tasks/**

        - id: SUBMISSION-SERVICE
          uri:
            lb://SUBMISSION-SERVICE
          predicates:
            - Path=/api/submissions**,/submissions/**


          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

          globalcors:
            corsConfigurations:
              '[/**]':
                allowedOrigins: "http://localhost:5173"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders: "*"
                allowCredentials: true


eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/